* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container.form {
  width: 500px;
  text-align: center;
  margin: auto auto;
  margin-top: 5rem;
}
.container.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 3rem;
}
.container.form form input {
  border-radius: 10px;
  padding: 5px;
}
.container.form form button {
  padding: 5px;
  width: 80px;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.container.gif,
.container.data {
  width: 80vw;
  margin: auto auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.container.gif {
  margin-bottom: 3rem;
}

.container.data {
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 1px;
  align-content: start;
  /* background-color: aqua; */
}
p {
  display: flex;
  height: 100px;
  flex-direction: column;
}
input:disabled {
  background: none;
  border-radius: 10px;
  padding: 5px;
}

#descriptionDiv {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
}
#description {
  margin-top: 1rem;
}

.loading{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: gray;
    opacity: 0.5;
    top: 0;
    text-align: center;
}
.loading.active{
    display: block;
}   
